.sidebar__section {
  border: 2px solid #ebecf2;
  min-height: 90vh;
}
.light__mode {
  background-color: #eff0f3;
}
.dark__mode {
  background-color: #000;
}

.side__bar {
  /* border: 2px solid #ebecf2; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding-inline: 20px;
  /* background-color: #eff0f3; */
}

.top__icons {
  /* border: 2px solid red; */
}

.top__icons > img,
.base__icons > img,
.light__dark > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 5px 20px 20px 5px;
}
.light__dark {
  /* border: 2px solid red; */
  background-color: #ffffff;
  border-radius: 20px;
  padding-block: 5px;
}
.light__dark > img {
  margin-inline: auto;
}
.light__dark > img:first-child {
  margin-block: 5px 20px;
}
.light__dark > img:last-child {
  margin-bottom: 5px;
}

.base__icons {
  /* border: 2px solid red; */
}

@media screen and (max-width: 510px) {
  .side__bar {
    padding-inline: 8px;
  }
  .top__icons > img,
  .base__icons > img,
  .light__dark > img {
    margin: 0 15px 15px 5px;
  }
  .light__dark {
    padding-block: 5px;
  }
  .light__dark > img:first-child {
    margin-block: 5px 10px;
  }
}
@media screen and (max-width: 420px) {
  /*  */
}
