.sales__trends {
  /* border: 2px solid red; */
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  /* height: fit-content; */
}

.sales__trends > header {
  /* border: 2px solid red; */
  margin-block: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.sales__trends > header > p {
  font-weight: 600;
}

.sales__trends > header > div {
  display: flex;
  align-items: center;
}

.sales__trends > header > div > button {
  background-color: inherit;
  margin-left: 10px;
  border: 1px solid #eff1f3;
  padding: 7px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.bar__chart__con {
  /* border: 2px solid red; */
  overflow-y: hidden;
}

@media screen and (max-width: 990px) {
  .sales__trends {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .sales__trends {
    /* max-width: 100%; */
  }

  .bar__chart__con {
    overflow-x: auto;
  }
}
