.orders__con {
  /* border: 2px solid red; */
  padding: 20px 10px;
  border-radius: 10px;
  width: 60%;
}

.order__con__dark {
  background-color: #000;
}
.order__con__light {
  background-color: #fff;
}
.order__con__dark th,
.order__con__dark td {
  color: #f1f1f1;
  border-bottom: 1px solid #38383b;
}
.order__con__light th,
.order__con__light td {
  color: #000;
  border-bottom: 1px solid #ebecf2;
}

.orders__con > header {
  display: flex;
  justify-content: space-between;
}
.orders__con > header > p:first-child {
  font-weight: 600;
}
.orders__con > header > p:last-child {
  color: #34caa5;
}

.order__dark {
  color: #f1f1f1;
}
.order__light {
  color: #000;
}

.order__table {
  /* border: 2px solid red; */
  width: 100%;
}

.order__table thead tr th {
  /* border-bottom: 1px solid #000; */
  text-align: left;
  color: #898989;
  padding-block: 15px;
}
.order__table tbody tr {
  /* border-bottom: 1px solid #000; */
}

td {
  padding-block: 15px;
}

.status__paid {
  color: #34caa5 !important;
  font-size: 14px;
}

.status__refund {
  color: #ed544e !important;
  font-size: 14px;
}

@media screen and (max-width: 990px) {
  .orders__con {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .orders__con {
    overflow-x: auto;
    /* width: 640px; */
  }
  .order__table {
    /* border: 2px solid red; */
    width: 700px;
    overflow-x: auto;
  }
}
