.dashboard {
  /* border: 2px solid red; */
  width: 100%;
  padding: 1rem;
  background-color: #fafafa;
}

.upper___section {
  display: flex;
  gap: 20px;
}

.lower__section {
  display: flex;
  /* align-items: flex-end; */
  gap: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  .upper___section {
    flex-direction: column;
  }
  .lower__section {
    flex-direction: column;
  }
}
