.search__input {
  /* border: 2px solid green; */
  position: relative;
}

.search__input > input {
  height: 48px;
  width: 300px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #dadddd;
  padding-left: 40px;
  font-size: 1rem;
}
.search__input > input::placeholder {
  color: #a3a3a3;
}
.search__input > input:focus {
  outline: 1px solid #dadddd;
}

.search__input > img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
