.search__input {
  /* border: 2px solid green; */
  position: relative;
}

.input__dark {
  background-color: #000;
  color: #fff;
}
.input__light {
  background-color: #fff;
  color: #000;
}

.search__input > input {
  display: block;
  height: 48px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #dadddd;
  padding-left: 40px;
  font-size: 1rem;
}
.search__input > input::placeholder {
  color: #a3a3a3;
}

.search__input > input:focus {
  outline: 1px solid #dadddd;
}

.search__input > img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle__input {
  display: none;
}

@media screen and (max-width: 800px) {
  .search__input > input {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .search__input {
    border: 2px solid #777373;
    padding: 5px;
    border-radius: 50%;
  }
  .search__input > input {
    display: none;
  }
  .search__input > img {
    position: static;
    display: block;
    transform: translateY(0%);
    cursor: pointer;
  }
  .toggle__input {
    display: block;
    position: absolute;
    top: 60px;
  }
}
@media screen and (max-width: 510px) {
  .search__input > input {
    /* width: 30px;
    height: 40px; */
  }
  .search__input > img {
    /* right: 50%;
    transform: translate(-20%, -50%); */
  }
}
