.search__input {
  /* border: 2px solid green; */
  position: relative;
}

.input__dark {
  background-color: #000;
  color: #fff;
}
.input__light {
  background-color: #fff;
  color: #000;
}

.search__input > input {
  height: 48px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #dadddd;
  padding-left: 40px;
  font-size: 1rem;
}
.search__input > input::placeholder {
  color: #a3a3a3;
}

.search__input > input:focus {
  outline: 1px solid #dadddd;
}

.search__input > img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 800px) {
  .search__input > input {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .search__input > input {
    width: 48px;
    border-radius: 50%;
    cursor: pointer;
  }
  .search__input > input::placeholder {
    color: transparent;
  }
  .search__input > img {
    cursor: pointer;
  }
}
@media screen and (max-width: 510px) {
  .search__input > input {
    width: 30px;
    height: 40px;
  }
  .search__input > img {
    right: 50%;
    transform: translate(-20%, -50%);
  }
}
