.calendar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar__dark {
  color: #fff;
}
.calendar__light {
  color: #000;
}

/* .calendar > img {
  cursor: pointer;
} */

@media screen and (max-width: 1130px) {
  .calendar > p {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .calendar {
    display: none;
  }
}
