.top__platform__card {
  margin-top: 20px;
}

.top__platform__card > p {
  font-weight: 600;
}

.top__platform__card > footer {
  display: flex;
  justify-content: space-between;
}

.dark__color {
  color: #f1f1f1;
}
.light__color {
  color: #000;
}
