.header {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f6f7;
  padding: 1rem 20px;
  gap: 20px;
  /* border-bottom: 2px solid #ebecf2; */
}

.light__mode {
  background-color: #ebecf2;
}
.dark__mode {
  background-color: #000;
}
.calendar__dark {
  color: #f1f1f1;
}
.calendar__light {
  color: #000;
}

.left__hand__side {
  /* border: 2px solid green; */
  width: 300px;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  /* border: 2px solid #ebecf2; */
}

.left__hand__side > h2 {
  margin-left: 20px;
}
.dashboard__dark {
  color: #fff;
}
.dashboard__light {
  color: #000;
}

.right__hand__side {
  /* border: 2px solid red; */
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.bell {
  border: 1px solid #dadddd;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .left__hand__side {
    /* border: 2px solid green; */
    /* width: 30%; */
  }
  .right__hand__side {
    width: 800px;
  }
}

@media screen and (max-width: 940px) {
  .right__hand__side {
    gap: 15px;
    width: 80%;
  }
}

@media screen and (max-width: 510px) {
  .header {
    padding: 1rem 10px;
  }
  .left__hand__side {
    /* border: 2px solid red; */
    width: 200px;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .left__hand__side > h2 {
    margin-left: 10px;
    font-size: 16px;
  }
  .right__hand__side {
    /* border: 2px solid red; */
    width: 80%;
    gap: 10px;
  }
}
@media screen and (max-width: 420px) {
  .header {
    gap: 10px;
  }
  .logo {
    margin-right: 5px;
  }

  .left__hand__side > h2 {
    margin-left: 5px;
  }
  .right__hand__side {
    gap: 5px;
  }
}
