.profile__details {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  border: 1px solid #dadddd;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
}

.calendar__dark {
  color: #f1f1f1;
}
.calendar__light {
  color: #26282c;
}

.profile__name > .dark__name {
  color: #f1f1f1;
}
.profile__name > .light__name {
  color: #787486;
}

.profile__icon {
  display: block;
}

@media screen and (max-width: 950px) {
  .profile__name {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .profile__details > img {
    width: 25px;
    height: 25px;
  }
  .profile__icon {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .profile__details {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 2px 5px;
  }
}
