.profile__details {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  border: 1px solid #dadddd;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
}

.profile__name > h4 {
  color: #26282c;
}

.profile__name > p {
  color: #787486;
}
