.summary__chart {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.trend__up {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #34caa5;
  font-size: 12px;
  background-color: rgba(52, 202, 165, 0.12);
  padding: 3px 6px;
  border-radius: 20px;
}

.trend__down {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ed544e;
  font-size: 12px;
  background-color: rgba(237, 84, 78, 0.12);
  padding: 3px 6px;
  border-radius: 20px;
}
@media screen and (max-width: 1130px) {
  .summary__chart {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 990px) {
  .summary__chart {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .summary__chart {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 450px) {
  .summary__chart {
    grid-template-columns: 1fr;
  }
}
