.top__platform {
  width: 40%;
  padding: 20px 10px;
  border-radius: 10px;
  height: fit-content;
  background-color: #fff;
}

.top__platform > header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top__platform > header > p:first-child {
  font-weight: 600;
}
.top__platform > header > p:last-child {
  color: #34caa5;
}

.platform__book,
.platform__artisan,
.platform__toy,
.platform__xtstore {
  height: 15px;
  width: 100%;
  background-color: #f5f6f7;
  border-radius: 20px;
  margin-block: 15px;
}
.platform__book > div,
.platform__artisan > div,
.platform__toy > div,
.platform__xtstore > div {
  border-radius: 20px;
  height: 100%;
}

.platform__book > div {
  background-color: #6160dc;
  width: 55%;
}

.platform__artisan > div {
  background-color: #54c5eb;
  width: 40%;
}

.platform__toy > div {
  background-color: #ffb74a;
  width: 25%;
}

.platform__xtstore > div {
  background-color: red;
  width: 20%;
}
