.customTooltip {
  overflow: hidden;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
}

.customTooltip__dark {
  background-color: #f1f1f1;
  color: #000;
}

.customTooltip__light {
  background-color: #000;
  color: #fff;
}

.customTooltip::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  bottom: -90px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  transform: rotate(45deg);
  background-color: #000;
}

.customTooltip__dark::before {
  background-color: #f1f1f1;
  color: #000;
}

.customTooltip__light::before {
  background-color: #000;
  color: #fff;
}
