.bar {
  fill: rgba(52, 202, 165, 0.1); /* Default fill color */
  transition: fill 0.3s; /* Optional: Add transition for a smooth effect */
}

.bar:hover {
  fill: linear-gradient(180deg, #34caa5 0%, rgba(52, 202, 165, 0) 100%);
  /* Apply the linear gradient on hover */
}

.hovered {
  fill: linear-gradient(180deg, #34caa5 0%, rgba(52, 202, 165, 0) 100%);
  /* Apply the linear gradient for the hovered state */
}

.each__bar {
  border: 2px solid red;
}

.customTooltip {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  /* position: fixed;
  top: 20px; */
}

/* .customTooltip::before,
.customTooltip::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #3498db;
}

.customTooltip::before {
  top: 0;
  left: 0;
  border-top-left-radius: 0;
}

.customTooltip::after {
  top: 0;
  right: 0;
  border-top-right-radius: 0;
} */
